@font-face {
    font-family: 'cheq7';
    src: url('Chess-7.TTF') format('truetype');
}

#échiquier{
	margin-top: 20px;
	margin-bottom: 20px;
}

td[data-couleur=blanc]{
	background-color: rgb(214,208,201);
	/*#a9a9a9*/
}

td[data-couleur=noir]{
	background-color: rgb(87,79,95);
	/*#696969;*/
}

.piece {
	font-family: 'cheq7';
	font-size: 40px;
}

#piece_B_mangee .piece, #piece_N_mangee .piece{
	font-size: 20px; 
}

#piece_B_mangee , #piece_N_mangee {
	height: 24px;
	width: 400px;
	border-radius: 2px;
	border-color: black;
	border-style: solid;
	border-width: 1px;
	margin: auto;

}

#piece_N_mangee{
	/*background-color: white;*/
	background-color:  rgb(214,208,201);
}

#piece_B_mangee{
	/*background-color: #696969;*/
	background-color: rgb(87,79,95);
}

main {
	width: 600px;
	margin: auto;
	
}

h1{
	text-align: center;
}

body{
	background-color: #DCDCDC;	
}

i.fa.fa-trophy {
	font-size: 30px;
	color: #CD853F;
}

table#échiquier{
	border: 10px solid rgb(195,142,121);
}

[data-span-piece-couleur="B"]{
	color: white;
}

button{
	background: linear-gradient(rgb(133,133,133),rgb(18,18,18));
	padding: 8px;
	color: white;

}